extends layout

block content
  if user
    div(class='container-fluid d-flex flex-column justify-content-center align-items-center gap-dot2rem')
      h1(class='m-0') Welcome back #{user.username}!
      a(href='/signout') Sign Out
  else
    div(class='container-fluid d-flex flex-column justify-content-center align-items-center gap-dot2rem')
      h1(class='m-0') Welcome!
      h5(class='m-0') Sign in to contribute to the forum
      a(href='/signin' class='m-0') Sign In
      h3(class='m-0') New here?
      a(href='/register' class='m-0') Register
  
  if errors
    ul
      for error in errors
        li!= error.msg

  div(class='container-fluid d-flex flex-column gap-1rem align-items-center')
    if user
      form(action='/comment/create' method='POST' class='form-floating gx-1 mb-3 forum-container-width')
        label(for='comment' class='form-label p-1 m-0 lb-font') Talk to us!
        textarea(name='comment' placeholder='' type='text' class='form-control m-1')
        button(class="btn btn-primary m-1") Add Comment
    if comments
      ul(class='list-unstyled d-flex flex-column gap-1rem forum-container-width')
        for comment in comments
          li(class="border border-primary rounded p-3 d-flex flex-column gap-1rem")
            div(class='d-flex flex-row justify-content-start align-items-center gap-1rem phonedisplay')
              p(class='m-0 comment-info-font text-primary') #{comment.user.username}
              p(class='m-0 comment-info-font') #{comment.date} ago
              p(class='m-0') Joined #{comment.user.member_since}
            div
              p(class='m-0') #{comment.comment}
            div(class='d-flex flex-row justify-content-end align-items-center')
              if (user && (user.username===comment.user.username || user.admin===true))
                form(method='post' action=`comment/${comment._id}/delete`)
                  button(type='submit' class="btn btn-primary") Delete

