extends layout

block content
  if user
    div(class='container-fluid d-flex flex-column justify-content-center align-items-center gap-dot2rem')
      h1(class='m-0') Welcome back #{user.username}!
      a(href='/signout') Sign Out
  else
    div(class='container-fluid d-flex flex-column justify-content-center align-items-center gap-dot2rem')
      h1(class='m-0') Welcome!
      h5(class='m-0') Sign in to contribute to the forum
      a(href='/signin' class='m-0') Sign In
      h3(class='m-0') New here?
      a(href='/register' class='m-0') Register
  
  if errors
    ul
      for error in errors
        li!= error.msg

  div
    if user
      form(action='/comment/create' method='POST')
        label(for='comment') Comment
        input(name='comment' placeholder='' type='textarea')
        button Add Comment
    if comments
      ul
        for comment in comments
          li
            p #{comment.comment}
            p #{comment.user.username}
            p #{comment.date}
            if (user && (user.username===comment.user.username || user.admin===true))
              form(method='post' action=`comment/${comment._id}/delete`)
                button(type='submit') Delete

